.footer {
	// color: $text-color-secondary;
	line-height: 1.5;
	margin-top: 1rem;

	a:not([class]) {
		border-bottom: 0.0625rem solid $text-color-secondary;
		color: inherit;
	  font-weight: $font-weight-semibold;
	  text-decoration: none;
	  transition: $transition-all-short;

		&:hover {
			border-bottom-color: $text-color-primary;
		  color: $text-color-primary;
		}
	}
}

.support {
	border: 1px solid $border-color-light;
	border-radius: $border-radius-lg;
	color: $text-color-primary;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	text-decoration: none;
	transition: $transition-all-short;

	&:hover {
		border-color: $border-color-dark;
	}
}

.support__logo {
	flex-shrink: 0;
	width: 2rem;
}

.support__text {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	span {
		font-weight: $font-weight-bold;
	}

	p {
		color: $text-color-secondary;
	}
}
