.header__logo {
	color: $success-text;
	margin-left: -0.675rem;
	margin-top: -0.5rem;
}

.header__title {
	font-size: $font-size-lg;
	display: inline-block;
	margin-left: 0.125rem;
	position: relative;
	top: 0.0625rem;

	@media screen and (max-width: 325px) {
		font-size: 1.125rem;
	}
}
