.wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 800px;

	@media screen and (max-width: 767px) {
		display: block;
		max-width: 100%;
		width: 25rem;
	}
}

.sidebar {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
  flex-shrink: 0;
  font-size: $font-size-sm;
	margin-right: 2rem;
	max-width: 18.5rem;
	min-width: 15rem;
	position: sticky;
	top: 2rem;

	@media screen and (max-width: 767px) {
		margin-bottom: 2rem;
		position: initial;
		max-width: 100%;
		width: 100%;
	}
}

.hacks {
	list-style-type: none;
	margin: 3.0rem 0 0;
	overflow: hidden;
	padding: 0;
	width: 100%;

	@media screen and (max-width: 767px) {
		margin-top: 0;
	}
}