.wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 65rem;

	@media screen and (max-width: 55rem) {
		display: block;
		max-width: calc(min(30rem, 100%));
	}
}

.sidebar {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
  flex-shrink: 0;
  font-size: $font-size-sm;
	margin-right: 2rem;
	max-width: 19rem;
	position: sticky;
	top: 2rem;

	@media screen and (max-width: 55rem) {
		margin-bottom: 2rem;
		position: initial;
		max-width: 100%;
		width: 100%;
	}
}

.hacks {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	list-style-type: none;
	margin: 3.0rem 0 0;
	overflow: hidden;
	padding: 0;
	width: 100%;

	@media screen and (max-width: 55rem) {
		margin-top: 0;
	}
}
