.wrapper {
	display: flex;
	gap: var(--spacing-lg);
	margin: 0 auto;
	max-width: 65rem;

	@media screen and (max-width: 55rem) {
		display: block;
		max-width: calc(min(30rem, 100%));
	}
}

.sidebar {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
  flex-shrink: 0;
  font-size: $font-size-sm;
	gap: var(--spacing-md);
	max-width: 19rem;
	position: sticky;
	top: var(--spacing-lg);

	@media screen and (max-width: 55rem) {
		margin-bottom: var(--spacing-lg);
		position: initial;
		max-width: 100%;
		width: 100%;
	}
}

.hacks {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	list-style-type: none;
	margin: var(--spacing-xl) 0 0;
	overflow: hidden;
	padding: 0;

	@media screen and (max-width: 55rem) {
		margin-top: 0;
	}
}
