/* Font family stacks */
$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$monospace:  monospace;

/* Type scale
   Based on 16px x 1.25 and rounded to nearest pixel */
$font-size-xs:   0.750rem; /* 12px */
$font-size-sm:   0.875rem; /* 14px */
$font-size-md:   1.000rem; /* 16px */
$font-size-lg:   1.250rem; /* 20px */
$font-size-xl:   1.500rem; /* 24px */
$font-size-xxl:  2.000rem; /* 32px */
$font-size-xxxl: 2.500rem; /* 40px */

/* Font weights */
$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     600;