:root {
  --color-brand: #0E8B4C;

  --color-fg-primary: #2E3538;
  --color-fg-secondary: #606F76;
  --color-fg-accent: #0C7942;
  --color-fg-success: #0C7942;
  --color-fg-warning: #A5610E;
  --color-fg-danger: #C33022;

  --color-bg-primary: #fff;
  --color-bg-secondary: #F0F3F4;
  --color-bg-success: #E1F1E9;
  --color-bg-warning: #FDF6EC;
  --color-bg-danger: #FFECEA;

  --color-border: #F0F3F4;
}

$text-color-primary: #222;
$text-color-secondary: #767676;
