$brand-color-primary: #0E8C4D;

$background-color-primary: #fff;
$background-color-secondary: #f5f5f5;
$background-color-tertiary: #767676;
$background-color-success: #E1F1E9;
$background-color-warning: #FDF5EB;
$background-color-error: #FFECEA;

$text-color-primary: #222;
$text-color-secondary: #767676;
$text-color-success: #0E8C4D;
$text-color-warning: #F2B161;
$text-color-error: #FF6759;

$border-color-light: #f5f5f5;
$border-color-dark: #767676;
