.hack {
  border: 1px dotted $grey-medium;
  border-radius: $border-radius-lg;
  margin-top: 1.5rem;
  overflow: hidden;
}

.hack__heading {
  align-items: center;
	display: flex;
	justify-content: space-between;
  padding: 1rem 1rem 0;
}

.hack__client {
	font-size: $font-size-lg;
}

.hack__status {
	background: $grey-medium;
	border-radius: $border-radius-md;
	color: $white;
	display: inline-block;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  line-height: 1;
  padding: 0.25rem 0.25rem;
  pointer-events: none;

  &--working {
  	background: $status-working;
  }

  &--deprecated {
  	background: $status-deprecated;
  }

  &--unknown {
  	background: $status-unknown;
  }
}

.hack__main {
  padding: 1rem;

  pre {
    margin: 0;
  }
}

.hack__code {
	background: $grey-light;
	border-radius: $border-radius-md;
	display: block;
  font-size: $font-size-sm;
  margin-bottom: 1rem;
	padding: 1rem;
	width: 100%;
}

.hack__meta {
  background: $grey-light;
  color: $grey-medium;
  font-size: $font-size-sm;
  padding: 0.5rem 1rem;
}

.hack__contributor-submissions {
  background: $grey-light;
  border-radius: $border-radius-pill;
  color: $grey-medium;
  display: inline-block;
  font-size: $font-size-xs;
  line-height: 1;
  padding: 0.125rem 0.25rem;
  pointer-events: none;
  text-align: center;
  width: 1.25rem;
}