.hack {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: $border-radius-lg;
  width: 100%;

  & + .hack {
    margin-top: 1.5rem;
  }

  &--deprecated {
    display: none;
  }
}

.hack__heading {
  align-items: baseline;
	display: flex;
	justify-content: flex-start;
  padding: 0.75rem 1rem 0;
}

.hack__client {
	font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

.hack__anchor {
  font-size: $font-size-md;
  margin-left: 0.5rem;
  opacity: 0;
  position: relative;
  text-decoration: none;
  top: -0.125rem;
  transition: $transition-all-medium;

  .hack:hover & {
    opacity: 0.15;
  }
}

.hack__status {
	border-radius: $border-radius-md;
	color: $white;
	display: inline-block;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  line-height: 1;
  margin-left: auto;
  padding: 0.125rem 0.1875rem;
  pointer-events: none;

  &--working {
    background: $success-light;
  	color: $success;
  }

  &--deprecated {
  	background: $error-light;
    color: $error;
  }

  &--unknown {
  	background: $warning-light;
    color: $warning;
  }
}

.hack__main {
  padding: 1rem;

  pre {
    background: $grey-light;
    border-radius: $border-radius-md;
    margin: 0;
  }
}

.hack__code {
	display: block;
  font-size: $font-size-sm;
  font-variant-ligatures: none; // Stops #ffff from getting fancied up
  padding: 1rem;
	width: 100%;
}

pre + .hack__description {
  margin-top: 1rem;
}

.hack__description {
  font-size: $font-size-sm;
  line-height: 1.5;
}

.hack__meta {
  background: $grey-light;
  color: $grey-medium;
  font-size: $font-size-xs;
  padding: 0.5rem 1rem;
}

.hack__contributor,
.hack__contributor-name {
  color: inherit;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  transition: $transition-all-short;
}

.hack__contributor:hover {
  border-bottom: 0.0625rem solid $black;
  color: $black;

  & ~ .hack__contributor-submissions {
    background: $black;
    border-color: $black;
    color: $white;
  }
}

.hack__contributor-submissions {
  border: 0.0625rem solid $grey-medium;
  border-radius: $border-radius-pill;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: $font-weight-semibold;
  line-height: 1;
  margin-left: 0.1875rem;
  padding: 0.125rem 0.1875rem;
  pointer-events: none;
  position: relative;
  text-align: center;
  top: -0.0625rem;
  transition: $transition-all-short;
}

/* Empty state */
.hacks__empty {
  display: none;
  margin: 2.0rem auto 0;
  max-width: 100%;
  width: max-content;

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }

  img {
    height: 20rem
  }
}