.badge {
	border-radius: $border-radius-md;
	display: inline-block;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  line-height: var(--line-height-sm);
  margin-left: auto;
  padding: 0.125rem 0.1875rem;
  pointer-events: none;

  &--working {
    background: var(--color-bg-success);
  	color: var(--color-fg-success);
  }

  &--deprecated {
  	background: var(--color-bg-danger);
    color: var(--color-fg-danger);
  }

  &--unknown {
  	background: var(--color-bg-warning);
    color: var(--color-fg-warning);
  }
}
