.hack {
  background: $background-color-primary;
  border: 1px solid $border-color-light;
  border-radius: $border-radius-lg;
  width: 100%;

  &--deprecated {
    display: none;
  }
}

.hack__heading {
  align-items: baseline;
	display: flex;
	justify-content: flex-start;
  padding: 0.75rem 1rem 0;
}

.hack__client {
	font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

.hack__anchor {
  font-size: $font-size-md;
  margin-left: 0.5rem;
  opacity: 0;
  position: relative;
  text-decoration: none;
  top: -0.125rem;
  transition: $transition-all-medium;

  .hack:hover & {
    opacity: 0.15;
  }
}

.hack__status {
	border-radius: $border-radius-md;
	color: $background-color-primary;
	display: inline-block;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  line-height: 1;
  margin-left: auto;
  padding: 0.125rem 0.1875rem;
  pointer-events: none;

  &--working {
    background: $background-color-success;
  	color: $text-color-success;
  }

  &--deprecated {
  	background: $background-color-error;
    color: $text-color-error;
  }

  &--unknown {
  	background: $background-color-warning;
    color: $text-color-warning;
  }
}

.hack__main {
  padding: 1rem;

  pre {
    background: $background-color-secondary;
    border-radius: $border-radius-md;
    margin: 0;
  }

  pre > code {
    display: block;
    font-size: $font-size-sm;
    font-variant-ligatures: none; // Stops #ffff from getting fancied up
    padding: 1rem;
    width: 100%;
  }

  p {
    margin-top: 1rem;

    code {
      font-size: 0.875em;
    }
  }
}

pre + .hack__description {
  margin-top: 1rem;
}

.hack__description {
  font-size: $font-size-sm;
  line-height: 1.5;
}

.hack__meta {
  background: $background-color-secondary;
  color: $text-color-secondary;
  font-size: $font-size-xs;
  padding: 0.5rem 1rem;
}

.hack__contributor,
.hack__contributor-name {
  color: inherit;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  transition: $transition-all-short;
}

.hack__contributor:hover {
  border-bottom: 0.0625rem solid $text-color-primary;
  color: $text-color-primary;

  & ~ .hack__contributor-submissions {
    background: $text-color-primary;
    border-color: $text-color-primary;
    color: $background-color-primary;
  }
}

.hack__contributor-submissions {
  border: 0.0625rem solid $border-color-dark;
  border-radius: $border-radius-pill;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: $font-weight-semibold;
  line-height: 1;
  margin-left: 0.1875rem;
  padding: 0.125rem 0.1875rem;
  pointer-events: none;
  position: relative;
  text-align: center;
  top: -0.0625rem;
  transition: $transition-all-short;
}

/* Empty state */
.hacks__empty {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  width: max-content;

  img {
    height: 20rem;
  }
}
