.header__logo {
	color: $text-color-success;
	// This optically centres the circle in the logo
	margin-left: -0.675rem;
	margin-top: -0.5rem;
}

.header__title {
	font-size: $font-size-lg;
	display: inline-block;
	margin-left: var(--spacing-xs);
	position: relative;
	top: 1px;
}
