.help-cta {
	background-color: $background-color-secondary;
	border-radius: $border-radius-lg;
	font-size: $font-size-sm;
	line-height: var(--line-height-lg);
	padding: var(--spacing-lg);
	text-align: center;

	a {
		color: $brand-color-primary;
	}
}
