.support {
	border: 1px solid $border-color-light;
	border-radius: $border-radius-lg;
	color: $text-color-primary;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	text-decoration: none;
	transition: $transition-all-short;

	&:hover {
		background-color: $background-color-secondary;
	}
}

.support__logo {
	flex-shrink: 0;
	width: 2rem;
}

.support__text {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	span {
		font-weight: $font-weight-bold;
	}

	p {
		color: $text-color-secondary;
	}
}
