.support {
	border: 1px solid var(--color-border);
	border-radius: $border-radius-lg;
	color: var(--color-fg-primary);
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-md);
	line-height: var(--line-height-lg);
	padding: var(--spacing-md);
	text-decoration: none;
	transition: $transition-all-short;

	&:hover {
		background-color: var(--color-bg-secondary);
		color: var(--color-fg-primary);

		p {
			color: var(--color-fg-primary);
		}
	}
}

.support__logo {
	flex-shrink: 0;
	width: 2rem;
}

.support__text {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);

	span {
		font-weight: $font-weight-bold;
	}

	p {
		color: var(--color-fg-secondary);
	}
}
