* {
  box-sizing: border-box;
}

html {
	background: $background-color-primary;
  height:     100%;
  font-size:  16px;
}

body {
  margin: 0;
  width: 100%;
  padding: 2rem;

  @media only screen and (max-width: 767px) {
  	padding: 2rem 1rem;
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}
