<footer class="footer">
  <p>This project is open source. Please contribute submissions or corrections on <a href="https://github.com/dylanatsmith/howtotarget">GitHub</a>.</p>
  <a href="https://parcel.io?utm_source=howtotargetemail" class="support">
    <img src="assets/img/parcel-logo.svg" alt="Parcel logo" class="support__logo">
    <div class="support__text">
      <span>Supported by Parcel</span>
      <p>Code, preview, and collaborate using the development platform designed for email.</p>
    </div>
  </a>
</footer>
