<form
  href="https://parcel.io?utm_source=howtotargetemail"
  class="subscribe"
  id="subscribe-form"
>
  <div>
    <div class="subscribe__text">
      <span>Do you also love email?</span>
      <p>
        Don’t miss out on !important tips, our short and sweet weekly email.
      </p>
    </div>

    <div class="subscribe__formRow">
      <input
        class="subscribe__input"
        type="email"
        required
        placeholder="Your email"
        name="email"
      />

      <button class="subscribe__button">Join</button>
    </div>
    <div class="subscribe__thankYou">
      <span>Thanks for subscribing!</span>

      <p>It’s great to have you along 🙌</p>
    </div>
  </div>
</form>
