<!doctype html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    <div class="sidebar">
      {% include components/header.html %}
      {% include components/filter.html %}
      {% include components/footer.html %}
    </div>

    <ul class="hacks">
      {% assign hacks = site.posts | sort: "title" %}
      {% for hack in hacks %}
        {% include components/hack.html %}
      {% endfor %}

      {% include components/help-cta.html %}
    </ul>
  </div>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
