<!doctype html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    <div class="sidebar">
      {% include components/header.html %}
      {% include components/filter.html %}
      {% include components/footer.html %}
    </div>

    <ul class="hacks">
      {% assign hacks = site.posts | sort: "title" %}
      {% for hack in hacks %}
        <li class="hack" id="{{ hack.title }}">
          <div class="hack__heading">
            <h2 class="hack__client">
              {{ hack.client }} {{ hack.version }}
              {% if hack.platform %}
                ({{ hack.platform }})
              {% endif %}
            </h2>
            <!-- <a href="" class="hack__anchor"><img src="assets/icons/link.svg" alt=""></a> -->
            <span class="hack__status hack__status--{{ hack.status | downcase }}">{{ hack.status }}</span>
          </div>
          <div class="hack__main">
            {{ hack.content }}
          </div>
          <p class="hack__meta">
            Contributed
            <time class="hack__date" datetime="{{ hack.date }}" title="{{ hack.date | date_to_long_string }}">{{ hack.date | timeago }}</time>
            by
            <span class="hack__contributor">{{ hack.contributor }}</span>
            <!-- <span class="hack__contributor-submissions"></span> -->
          </p>
        </li>
      {% endfor %}
    </ul>
    {% include components/empty-state.html %}
  </div>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
