.controls {
	align-self: flex-start;
	background: $grey-light;
	border-radius: $border-radius-lg;
  flex-shrink: 0;
	margin-right: 2rem;
	padding: 1rem;
	position: sticky;
	top: 2rem;
}

.controls__heading {
	font-size: $font-size-lg;
	font-weight: $font-weight-semibold;
}

.controls__deprecated {
	background: $status-working;
	border: 0;
	border-radius: $border-radius-md;
	color: $white;
	margin-top: 1rem;
	padding: 0.5rem;
	transition: $transition-all-medium;
	width: 100%;

	&--active {
		background: $status-deprecated;
	}
}