.wrapper {
	display: flex;
	width: 50%;
}

.sidebar {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
  flex-shrink: 0;
  font-size: $font-size-sm;
	margin-right: 2rem;
	min-width: 15rem;
	position: sticky;
	top: 2rem;
}

.hacks {
	list-style-type: none;
	margin: 0;
	padding: 0;
}